.row
  .sixteen.wide.column
    .ui.segment
      %table.ui.celled.structured.table#users_table
        %thead
          %tr
            %th
              Test name
            %th
              Score
            %th
              Time Stamp
          
            - current_user.tests.each do |test|
              - if test.score.present?
                %tr
                  %td
                    = test.description

                  %td
                    = test.score

                  %td
                    = test.created_at         