.ui.top.attached.tabular.menu.inverted.no_top_margin
  =link_to current_user.email, tests_path, class: "active item"
  .right.menu
    .item
      .ui.transparent.icon.input
        = link_to destroy_user_session_path, method: :delete, class: "item" do
          Logout
- question = Question.first
.ui.bottom.attached.segment{style: "height: 91.4%"}
  .ui.sixteen.column.grid
    .twelve.wide.column.centered.aligned
      .ui.fluid.raised.card
        .content
          .header.ui.center.aligned
            = question.question_text.html_safe
          / .meta
          /   %span.date Joined in 2013
          / .description
          /   Kristy is an art director living in New York.
        .extra.content
          .ui.sixteen.column.grid
            - question.options.each do |option|
              .sixteen.wide.column.centered.aligned
                .fluid.ui.button{class: ("active" if option.id == question.answer_id)}
                  = option.description.html_safe
          / .ui.form
          /   .field
          /     - question.options.each do |option|
          /       .ui.radio
          /         %input.hidden{:name => "<haml_loud", :tabindex => "0", :type => "radio"}>
          /         %label= option.description.html_safe
        .extra.content
        .ui.two.top.attached.buttons
          .ui.secondary.button
            Previous
          .ui.secondary.button
            Next


  / .ui.sixteen.column.grid.container
  /   .sixteen.wide.center.aligned.column
  /     %h3= question.question_text.html_safe

  / %form.ui.form
  /   / # - Question.joins(:options).each do |question|
  /   .field
  /   %br/
  /   - question.options.each do |option|
  /     .field
  /       .ui.radio
  /         %input.hidden{:name => "<haml_loud", :tabindex => "0", :type => "radio"}>/
  /         question.id&gt;
  /         %label= option.description.html_safe
  /   %br/
  /   %button.ui.button{:type => "submit"} Submit

