

<form class="ui form">
  
  <% Question.all.each do |question|%>
    <div class="field">
      <label><%=question.question_text.html_safe%></label>
    </div>
    <br />

    <%question.options.each do |option| %>
      <div class="field">
        <div class="ui radio">
          <input type="radio" tabindex="0" class="hidden" name=<%=question.id%>>
          <label><%=option.description.html_safe%></label>
        </div>
      </div>
    <%end%>
    <br />
  <%end%>
  <button class="ui button" type="submit">Submit</button>
</form>
